{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main contents -->
<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
    <div class="2xl:max-w-6xl mx-auto h-screen relative shadow-lg overflow-hidden border1 max-md:pt-14">
        <div class="flex bg-white dark:bg-dark2">
            <!-- sidebar -->
            <div class="md:w-[360px] relative border-r dark:border-slate-700">
                <div id="side-chat"class="top-0 left-0 max-md:fixed max-md:w-5/6 max-md:h-screen bg-white z-50 max-md:shadow max-md:-translate-x-full dark:bg-dark2">
                    <!-- heading title -->
                    <div class="p-4 border-b dark:border-slate-700">
                        <div class="flex mt-2 items-center justify-between">
                            <h2 class="text-2xl font-bold text-black ml-1 dark:text-white">Chats</h2>
                            <!-- right action buttons -->
                            <div class="flex items-center gap-2.5">
                                <button class="group">
                                    <ion-icon name="settings-outline" class="text-2xl flex group-aria-expanded:rotate-180"></ion-icon>
                                </button>
                                <div class="md:w-[270px] w-full"
                                    uk-dropdown="pos: bottom-left; offset:10; animation: uk-animation-slide-bottom-small">
                                    <nav>
                                        <a href="#"><ion-icon class="text-2xl shrink-0 -ml-1"
                                                name="checkmark-outline"></ion-icon> Mark all as read </a>
                                        <a href="#"><ion-icon class="text-2xl shrink-0 -ml-1"
                                                name="notifications-outline"></ion-icon> notifications setting </a>
                                        <a href="#"><ion-icon class="text-xl shrink-0 -ml-1"
                                                name="volume-mute-outline"></ion-icon> Mute notifications </a>
                                    </nav>
                                </div>
                                <button class="">
                                    <ion-icon name="checkmark-circle-outline" class="text-2xl flex"></ion-icon>
                                </button>
                                <!-- mobile toggle menu -->
                                <button type="button" class="md:hidden"
                                    uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">
                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                </button>
                            </div>
                        </div>
                        <!-- search -->
                        <div class="relative mt-4">
                            <div class="absolute left-3 bottom-1/2 translate-y-1/2 flex"><ion-icon name="search"
                                    class="text-xl"></ion-icon></div>
                            <input type="text" placeholder="Search" class="w-full !pl-10 !py-2 !rounded-lg">
                        </div>
                    </div>
                    <!-- users list -->
                    <div class="space-y-2 p-2 overflow-y-auto h-[calc(100vh-127px)]">
                        {% for user in All_following_user %}
                            {% for room in rooms %}
                                {% if room.slug == user.user.username %}
                                    <a href="{% url 'chat_functionality' room.slug %}"  class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery">
                                        <div class="relative w-14 h-14 shrink-0">
                                            <img src="/media/{{user.DP}}" alt="" class="object-cover w-full h-full rounded-full">
                                            <div
                                                class="w-4 h-4 absolute bottom-0 right-0  bg-green-500 rounded-full border border-white dark:border-slate-800">
                                            </div>
                                        </div>
                                        <div class="flex-1 min-w-0">
                                            <div class="flex items-center gap-2 mb-1.5">
                                                <div class="mr-auto text-sm text-black dark:text-white font-medium">
                                                    {{user.followed.username}}</div>
                                                <div class="text-xs font-light text-gray-500 dark:text-white/70">09:40AM</div>
                                            </div>
                                            <div class="font-medium overflow-hidden text-ellipsis text-sm whitespace-nowrap">Love
                                                your photos 😍</div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <!-- overly -->
                <div id="side-chat-overlay" class="bg-slate-100/40 backdrop-blur w-full h-full dark:bg-slate-800/40 z-40 fixed inset-0 max-md:-translate-x-full md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full"></div>
            </div>
            <!-- message center -->
            <div class="flex-1">
                <!-- chat heading -->
                <div class="flex items-center justify-between gap-2 w- px-6 py-3.5 z-10 border-b dark:border-slate-700 uk-animation-slide-top-medium">
                    <div class="flex items-center sm:gap-4 gap-2">
                        <!-- toggle for mobile -->

                        <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">
                            <ion-icon name="chevron-back-outline" class="text-2xl -ml-4"></ion-icon>
                        </button>

                        <div class="relative cursor-pointer max-md:hidden"  uk-toggle="target: .rightt ; cls: hidden">
                            <img src="/media/{{user.DP}}" alt="" id="user-avatar" class="w-8 h-8 rounded-full shadow">
                            <div class="w-2 h-2 bg-teal-500 rounded-full absolute right-0 bottom-0 m-px"></div>
                        </div>
                        <div class="cursor-pointer" uk-toggle="target: .rightt ; cls: hidden">
                            <div id="user-name" class="text-base font-bold"> {{user.username}}</div>
                            <div id="user-status" class="text-xs text-green-500 font-semibold"> Online</div>
                        </div>
                    </div>
                     <!-- start-comment -->
                    <div class="flex items-center gap-2">
                        <button type="button" class="button__ico">
                        </button>
                        <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full">
                        </button>
                        <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full"
                            uk-toggle="target: .rightt ; cls: hidden">
                        </button>
                    </div>
                    <!-- end comment -->
                </div>
                <div class="w-full p-5 py-10 overflow-y-auto md:h-[calc(100vh-137px)] h-[calc(100vh-250px)]">

                    <div class="py-10 text-center text-sm lg:pt-8">
                        <img src="/media/{{user.DP}}" class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
                        <div class="mt-8">
                            <div class="md:text-xl text-base font-medium text-black dark:text-white">{{user.first_name}} {{user.last_name}}</div>
                            <div class="text-gray-500 text-sm   dark:text-white/80">  @{{user.username}}  </div>
                        </div>
                        <div class="mt-3.5">
                             <a href="{% url 'User:profile' user.username %}" class="inline-block rounded-lg px-4 py-1.5 text-sm font-semibold bg-secondery">View profile</a>
                        </div>
                    </div>
                    
                    <div id="chatbox" class="text-sm font-medium space-y-6">
                        {% if messages %}
                            {% for message in messages %}
                                {% if request.user.username == message.receiver.username %}
                                    <div id="login-user-receiver-message" class="flex gap-3">
                                        <img src="/media/{{message.sender.DP}}" alt="" class="w-9 h-9 rounded-full shadow">
                                        <div class="px-4 py-2 rounded-[20px] max-w-sm bg-secondery"> {{message.content}} </div>
                                    </div> 
                                {% else %}
                                    <!-- sent -->
                                    <div id="login-user-sended-message" class="flex gap-2 flex-row-reverse items-end">
                                        <img src="/media/{{message.sender.DP}}" alt="" class="w-5 h-5 rounded-full shadow">
                                        <div class="px-4 py-2 rounded-[20px] max-w-sm bg-gradient-to-tr from-sky-500 to-blue-500 text-white shadow">  {{message.content}}</div>
                                    </div> 
                                    
                                    <!-- time -->
                                    <div class="flex justify-center "> 
                                        <div class="font-medium text-gray-500 text-sm dark:text-white/70">
                                            {{message.created_on}}
                                        </div> 
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                 <!-- sending message area -->
                 <div class="flex items-center md:gap-4 gap-2 md:p-3 p-2 overflow-hidden">
 
                    <div id="message__wrap" class="flex items-center gap-2 h-full dark:text-white -mt-1.5">
                        
                        <button type="button"  class="shrink-0">
                            <ion-icon class="text-3xl flex" name="add-circle-outline"></ion-icon>
                        </button>
                        <div class="dropbar pt-36 h-60 bg-gradient-to-t via-white from-white via-30% from-30% dark:from-slate-900 dark:via-900" uk-drop="stretch: x; target: #message__wrap ;animation:  slide-bottom ;animate-out: true; pos: top-left; offset:10 ; mode: click ; duration: 200">

                            <div class="sm:w-full p-3 flex justify-center gap-5" uk-scrollspy="target: > button; cls: uk-animation-slide-bottom-small; delay: 100;repeat:true">
                               
                                <button type="button" class="bg-sky-50 text-sky-600 border border-sky-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                                    <ion-icon class="text-3xl flex" name="image"></ion-icon>
                                </button>
                                <button type="button" class="bg-green-50 text-green-600 border border-green-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                                    <ion-icon class="text-3xl flex" name="images"></ion-icon>
                                </button>
                                <button type="button" class="bg-pink-50 text-pink-600 border border-pink-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                                    <ion-icon class="text-3xl flex" name="document-text"></ion-icon>
                                </button>
                                <button type="button" class="bg-orange-50 text-orange-600 border border-orange-100 shadow-sm p-2.5 rounded-full shrink-0 duration-100 hover:scale-[1.15] dark:bg-dark3 dark:border-0">
                                    <ion-icon class="text-3xl flex" name="gift"></ion-icon>
                                </button>


                            </div>
                            
                        </div>

                        <button type="button"  class="shrink-0">
                            <ion-icon class="text-3xl flex" name="happy-outline"></ion-icon>
                        </button>
                        <div class="dropbar p-2" uk-drop="stretch: x; target: #message__wrap ;animation: uk-animation-scale-up uk-transform-origin-bottom-left ;animate-out: true; pos: top-left ; offset:2; mode: click ; duration: 200 ">

                            <div class="sm:w-60 bg-white shadow-lg border rounded-xl  pr-0 dark:border-slate-700 dark:bg-dark3">

                                <h4 class="text-sm font-semibold p-3 pb-0">Send Imogi</h4>

                                <div class="grid grid-cols-5 overflow-y-auto max-h-44 p-3 text-center text-xl">

                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥰 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😡 </div> 
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥰 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😡 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤔 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😊 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🤩 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😎</div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 🥳 </div>
                                    <div class="hover:bg-secondery p-1.5 rounded-md hover:scale-125 cursor-pointer duration-200"> 😂 </div>
                                  
                                </div>
                                 

                            </div>
                            
                        </div>

                    </div>
                    
                    <div class="relative flex-1">
                        <textarea placeholder="Write your message" rows="1" id="my_input" class="w-full resize-none bg-secondery rounded-full px-4 p-2"></textarea>
                    
                        <button  type="button" id="submit_button" class="text-black shrink-0 p-2 absolute right-0.5 top-0">
                            <ion-icon class="text-xl flex" name="send-outline"></ion-icon> 
                        </button>

                    </div>

                    <button type="button" class="flex h-full dark:text-white">
                        <ion-icon class="text-3xl flex -mt-3" name="heart-outline"></ion-icon> 
                    </button>

                </div>

            </div>
            <!-- user profile right info -->
            <div class="rightt w-full h-full absolute top-0 right-0 z-10 hidden transition-transform">
                <div
                    class="w-[360px] border-l shadow-lg h-screen bg-white absolute right-0 top-0 uk-animation-slide-right-medium delay-200 z-50 dark:bg-dark2 dark:border-slate-700">
                    <div class="w-full h-1.5 bg-gradient-to-r to-purple-500 via-red-500 from-pink-500 -mt-px"></div>
                    <div class="py-10 text-center text-sm pt-20">
                        <img src="/media/{{user.DP}}"
                            class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
                        <div class="mt-8">
                            <div class="md:text-xl text-base font-medium text-black dark:text-white"></div>
                            <div class="text-gray-500 text-sm mt-1 dark:text-white/80"></div>
                        </div>
                        <div class="mt-5">
                            <a href="{% url 'User:profile' user.username %}"
                                class="inline-block rounded-full px-4 py-1.5 text-sm font-semibold bg-secondery">View
                                profile</a>
                        </div>
                    </div>
                    <hr class="opacity-80 dark:border-slate-700">
                    <ul class="text-base font-medium p-3">
                        <li>
                            <div class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery">
                                <ion-icon name="notifications-off-outline" class="text-2xl"></ion-icon> Mute
                                Notification
                                <label class="switch cursor-pointer ml-auto"> <input type="checkbox" checked><span
                                        class="switch-button !relative"></span></label>
                            </div>
                        </li>
                        <li> <button type="button"
                                class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon
                                    name="flag-outline" class="text-2xl"></ion-icon> Report </button></li>
                        <li> <button type="button"
                                class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon
                                    name="settings-outline" class="text-2xl"></ion-icon> Ignore messages </button> </li>
                        <li> <button type="button"
                                class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon
                                    name="stop-circle-outline" class="text-2xl"></ion-icon> Block </button> </li>
                        <li> <button type="button"
                                class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-red-50 text-red-500">
                                <ion-icon name="trash-outline" class="text-2xl"></ion-icon> Delete Chat </button> </li>
                    </ul>
                    <!-- close button -->
                    <button type="button" class="absolute top-0 right-0 m-4 p-2 bg-secondery rounded-full"
                        uk-toggle="target: .rightt ; cls: hidden">
                        <ion-icon name="close" class="text-2xl flex"></ion-icon>
                    </button>
                </div>
                <!-- overly -->
                <div class="bg-slate-100/40 backdrop-blur absolute w-full h-full dark:bg-slate-800/40"
                    uk-toggle="target: .rightt ; cls: hidden"></div>
            </div>

        </div>
    </div>
</main>
{{slug|json_script:"room_slug"}}
 <script>
    function scrollToBottom() {
        const messages = document.querySelectorAll(".chat-message");
        let lastMessage;
        let latestTimestamp = 0;
    
        // Iterate through each message to find the one with the latest timestamp
        messages.forEach(message => {
            const timestamp = new Date(message.dataset.createdOn).getTime();
            if (timestamp > latestTimestamp) {
                latestTimestamp = timestamp;
                lastMessage = message;
            }
        });
    
        // Scroll to the last message
        if (lastMessage) {
            lastMessage.scrollIntoView({ behavior: "smooth", block: "end" });
        }
    }
    
    
// Scroll to bottom when the page is loaded
scrollToBottom();

const roomName = JSON.parse(document.getElementById('room_slug').textContent);
const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/" + roomName + "/");
// const chatSocket = new WebSocket("ws://127.0.0.1:8000/ws/"+ roomName +"/");
// alert(chatSocket);
chatSocket.onopen = function (e) {
    console.log("The connection was set up successfully !");
};
chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
};

document.querySelector("#my_input").focus();
document.querySelector("#my_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        document.querySelector("#submit_button").click();
    }
};
document.querySelector("#submit_button").onclick = function (e) {
    var messageInput = document.querySelector("#my_input").value;

    if (messageInput.length == 0) {
        alert("Add some Input First Or Press Send Button!")
    } else {
        chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}", room_name: "{{room_name}}" }));
    }
};

chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const div = document.createElement("div");

    // Determine message sender and receiver
    const isSender = data.username === "{{ request.user.username }}";
    const other_user="{{user.DP}}"
    const login_user_dp="{{request.user.DP}}"
    // Construct message HTML based on sender or receiver
    if (isSender) {
        div.innerHTML = `
            <div class="flex gap-2 flex-row-reverse items-end">
                <img src="/media/${login_user_dp}" alt="" class="w-5 h-5 rounded-full shadow">
                <div class="px-4 py-2 rounded-[20px] max-w-sm bg-gradient-to-tr from-sky-500 to-blue-500 text-white shadow">${data.message}</div>
            </div>`;
    } else {
        div.innerHTML = `
            <div class="flex gap-3">
                <img src="/media/${other_user}" alt="" class="w-9 h-9 rounded-full shadow">
                <div class="px-4 py-2 rounded-[20px] max-w-sm bg-secondery">${data.message}</div>
            </div>`;
    }

    document.querySelector("#my_input").value = "";
    document.querySelector("#chatbox").appendChild(div);
    scrollToBottom();
};

</script>

{% endblock %}