{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main contents -->
    <main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
        <div class="2xl:max-w-6xl mx-auto h-screen relative shadow-lg overflow-hidden border1 max-md:pt-14">
            <div class="flex bg-white dark:bg-dark2">
                <!-- sidebar -->
                <div class="md:w-[360px] relative border-r dark:border-slate-700">
                    <div id="side-chat" class="top-0 left-0 max-md:fixed max-md:w-5/6 max-md:h-screen bg-white z-50 max-md:shadow max-md:-translate-x-full dark:bg-dark2">
                        <!-- heading title -->
                        <div class="p-4 border-b dark:border-slate-700">
                            <div class="flex mt-2 items-center justify-between">
                                <h2 class="text-2xl font-bold text-black ml-1 dark:text-white">Chats</h2>
                                <!-- right action buttons -->
                                <div class="flex items-center gap-2.5">
                                    <button class="group">
                                        <ion-icon name="settings-outline" class="text-2xl flex group-aria-expanded:rotate-180"></ion-icon>
                                    </button>
                                    <div class="md:w-[270px] w-full" uk-dropdown="pos: bottom-left; offset:10; animation: uk-animation-slide-bottom-small"> 
                                        <nav>
                                            <a href="#"><ion-icon class="text-2xl shrink-0 -ml-1" name="checkmark-outline"></ion-icon> Mark all as read </a>  
                                            <a href="#"><ion-icon class="text-2xl shrink-0 -ml-1" name="notifications-outline"></ion-icon> notifications setting </a>  
                                            <a href="#"><ion-icon class="text-xl shrink-0 -ml-1" name="volume-mute-outline"></ion-icon> Mute notifications </a>     
                                        </nav>
                                    </div>
                                    <button class="">
                                        <ion-icon name="checkmark-circle-outline" class="text-2xl flex"></ion-icon>
                                    </button>
                                    <!-- mobile toggle menu -->
                                    <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">
                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                    </button>
                                </div>
                            </div>
                            <!-- search -->
                            <div class="relative mt-4">
                                <div class="absolute left-3 bottom-1/2 translate-y-1/2 flex"><ion-icon name="search" class="text-xl"></ion-icon></div>
                                <input type="text" placeholder="Search" class="w-full !pl-10 !py-2 !rounded-lg">
                            </div> 
                        </div> 
                        <!-- users list -->
                        <div class="space-y-2 p-2 overflow-y-auto h-[calc(100vh-127px)]">
                            {% for user in All_following_user %}
                            <button type="button" onclick="showChat('{{ user.followed.username }}', '{{ user.followed.DP }}'); console.log('Clicked!');" class="relative flex items-center gap-4 p-2 duration-200 rounded-xl hover:bg-secondery">
                                <div class="relative w-14 h-14 shrink-0">
                                    <img src="/media/{{user.followed.DP}}" alt="" class="object-cover w-full h-full rounded-full">
                                    <div class="w-4 h-4 absolute bottom-0 right-0 bg-green-500 rounded-full border border-white dark:border-slate-800"></div>
                                </div>
                                <div class="flex-1 min-w-0">
                                    <div class="flex items-center gap-2 mb-1.5">
                                        <div class="mr-auto text-sm text-black dark:text-white font-medium">{{user.followed.username}}</div>
                                        <div class="text-xs font-light text-gray-500 dark:text-white/70">09:40AM</div>
                                    </div>
                                    <div class="font-medium overflow-hidden text-ellipsis text-sm whitespace-nowrap">Love your photos 😍</div>
                                </div>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- overly -->
                    <div id="side-chat-overlay" class="bg-slate-100/40 backdrop-blur w-full h-full dark:bg-slate-800/40 z-40 fixed inset-0 max-md:-translate-x-full md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full"></div>
                </div> 
                <!-- message center -->
                <div class="flex-1">
                    <!-- chat heading -->
                    <div class="flex items-center justify-between gap-2 w-full px-6 py-3.5 z-10 border-b dark:border-slate-700 uk-animation-slide-top-medium">
                        <div class="flex items-center sm:gap-4 gap-2">
                            <!-- toggle for mobile -->
                            <button type="button" class="md:hidden" uk-toggle="target: #side-chat ; cls: max-md:-translate-x-full">
                                <ion-icon name="chevron-back-outline" class="text-2xl -ml-4"></ion-icon>
                            </button>
                            <div id="user-profile" class="relative cursor-pointer max-md:hidden" uk-toggle="target: .rightt ; cls: hidden">
                                <img id="user-avatar" src="" alt="" class="w-8 h-8 rounded-full shadow">
                                <div id="user-status-indicator" class="w-2 h-2 bg-teal-500 rounded-full absolute right-0 bottom-0 m-px"></div>
                            </div>
                            <div id="user-details" class="cursor-pointer" uk-toggle="target: .rightt ; cls: hidden">
                                <div id="user-name" class="text-base font-bold"></div>
                                <div id="user-status" class="text-xs font-semibold"></div>
                            </div>
                        </div>  
                        <div class="flex items-center gap-2">
                            <button type="button" class="button__ico">
                                <!-- ... -->
                            </button>
                            <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full">
                                <!-- ... -->
                            </button> 
                            <button type="button" class="hover:bg-slate-100 p-1.5 rounded-full" uk-toggle="target: .rightt ; cls: hidden">
                                <!-- ... -->
                            </button> 
                        </div>
                    </div>
                    <!-- chats bubble -->
                    <div id="chat-content" class="w-full p-5 py-10 overflow-y-auto md:h-[calc(100vh-137px)] h-[calc(100vh-250px)]"></div> 
                    <!-- sending message area -->
                    <div class="flex items-center md:gap-4 gap-2 md:p-3 p-2 overflow-hidden">
                        <div id="message__wrap" class="flex items-center gap-2 h-full dark:text-white -mt-1.5">
                            <div class="jumbotron" id="chatbox" style="padding: 4px 2px;"></div>
                            <!-- Add the message form -->
                            <form>
                                <div class="form-group">
                                  {% if messages %}
                                  <div class="jumbotron" id="chatbox" style="padding: 4px 2px;max-height: 300px;  /* Adjust the max-height as needed */overflow-y: scroll;">
                                      {% for message in messages %}
                                        <div class="chat-message {% if message.user == request.user %}text-right{% else %}text-left{% endif %}">
                                          <b>{{ message.user.username }}</b> : {{ message.content }}<br>
                                        </div>
                                        {% endfor %}
                                  </div>
                                  {% else %}
                                  <div class="jumbotron" id="chatbox" style="padding: 4px 2px;"></div>
                                  <b>No Messages in this Room.</b>
                                    {% endif %}
                                </div>
                                <br/>
                                <div class="form-group" style="width: 100%;">
                                    <input class="form-control" placeholder="Enter text here" id="my_input" type="text" required>
                                    <button class="btn btn-primary btn-lg btn-block" id="submit_button" ><ion-icon class="text-xl flex" name="send-outline"></ion-icon></button>
                                </div>
                                <br/>
                                
                            </form>
                        </div>
                        <button type="button" class="flex h-full dark:text-white">
                            <ion-icon class="text-3xl flex -mt-3" name="heart-outline"></ion-icon>
                        </button>
                    </div>
                    <!-- user profile right info -->
                    <div class="rightt w-full h-full absolute top-0 right-0 z-10 hidden transition-transform">
                        <div class="w-[360px] border-l shadow-lg h-screen bg-white absolute right-0 top-0 uk-animation-slide-right-medium delay-200 z-50 dark:bg-dark2 dark:border-slate-700">
                            <div class="w-full h-1.5 bg-gradient-to-r to-purple-500 via-red-500 from-pink-500 -mt-px"></div>
                            <div class="py-10 text-center text-sm pt-20">
                                <img src="{% static "assets/images/avatars/avatar-3.jpg"%}" class="w-24 h-24 rounded-full mx-auto mb-3" alt="">
                                <div class="mt-8">
                                    <div class="md:text-xl text-base font-medium text-black dark:text-white"></div>
                                    <div class="text-gray-500 text-sm mt-1 dark:text-white/80"></div>
                                </div>
                                <div class="mt-5">
                                     <a href="profile.html" class="inline-block rounded-full px-4 py-1.5 text-sm font-semibold bg-secondery">View profile</a>
                                </div>
                            </div>
                            <hr class="opacity-80 dark:border-slate-700">
                            <ul class="text-base font-medium p-3">
                                <li> 
                                    <div class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> 
                                        <ion-icon name="notifications-off-outline" class="text-2xl"></ion-icon> Mute Notification     
                                        <label class="switch cursor-pointer ml-auto"> <input type="checkbox" checked><span class="switch-button !relative"></span></label>
                                    </div>
                                </li>
                                <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon name="flag-outline" class="text-2xl"></ion-icon> Report     </button></li>
                                <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon name="settings-outline" class="text-2xl"></ion-icon> Ignore messages   </button> </li>
                                <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-secondery"> <ion-icon name="stop-circle-outline" class="text-2xl"></ion-icon> Block    </button> </li>
                                <li> <button type="button" class="flex items-center gap-5 rounded-md p-3 w-full hover:bg-red-50 text-red-500"> <ion-icon name="trash-outline" class="text-2xl"></ion-icon> Delete Chat   </button> </li>
                            </ul> 
                            <!-- close button -->
                            <button type="button" class="absolute top-0 right-0 m-4 p-2 bg-secondery rounded-full" uk-toggle="target: .rightt ; cls: hidden">
                                <ion-icon name="close" class="text-2xl flex"></ion-icon>
                            </button>
                        </div>
                        <!-- overly -->
                        <div class="bg-slate-100/40 backdrop-blur absolute w-full h-full dark:bg-slate-800/40" uk-toggle="target: .rightt ; cls: hidden"></div>
                    </div>
                </div>
            </div>
        </div> 
    </main>
    <script>
        // Add this code to your existing JavaScript code
        function showChat(username, DP, status) {
            // Update the content of the chat div with the clicked user's information
            var chatDiv = document.getElementById("chat-content");
            var userProfile = document.getElementById("user-profile");
            var userAvatar = document.getElementById("user-avatar");
            var userStatusIndicator = document.getElementById("user-status-indicator");
            var userDetail = document.getElementById("user-details");
            var userName = document.getElementById("user-name");
            var userStatus = document.getElementById("user-status");

            if (chatDiv && userProfile && userAvatar && userStatusIndicator && userDetail && userName && userStatus) {
                // Update chat content (if needed)

                // Update user profile
                userAvatar.src = `/media/${DP}`;
                userStatusIndicator.style.backgroundColor = status === 'online' ? 'green' : 'gray';
                userName.textContent = username;
                userStatus.textContent = status;
            } else {
                console.error("Some element not found.");
            }
        }

        
        console.log('roomName: ', roomName)
       
    </script>
    <script>
        const chatbox = document.querySelector("#chatbox");

// Function to scroll to the bottom of the chatbox
function scrollToBottom() {
  chatbox.scrollTop = chatbox.scrollHeight;
}

// Scroll to bottom when the page is loaded
scrollToBottom();


    const roomName = "{{first_All_following_user}}";
  const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/"+ roomName +"/");
  // const chatSocket = new WebSocket("ws://127.0.0.1:8000/ws/"+ roomName +"/");
  // alert(chatSocket);
  chatSocket.onopen = function (e) {
    console.log("The connection was setup successfully !");
  };
  chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
  };

  document.querySelector("#my_input").focus();
  document.querySelector("#my_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
      e.preventDefault();
      document.querySelector("#submit_button").click();
    }
  };
  document.querySelector("#submit_button").onclick = function (e) {
    var messageInput = document.querySelector(
      "#my_input"
    ).value;

    if(messageInput.length == 0)
      {
          alert("Add some Input First Or Press Send Button!")
      }
      else
      {
        const room_name = "{{first_All_following_user}}";
        chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}",room_name:room_name}));
        
       
      }
    
  };

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var div = document.createElement("div");
    div.innerHTML = "<b>" + data.username + "</b> : " + data.message;

    // Add class based on user authentication
    if (data.username === "{{ request.user.username }}") {
      div.classList.add("chat-message", "text-right");
    } else {
      div.classList.add("chat-message", "text-left");
    }

    document.querySelector("#my_input").value = "";
    document.querySelector("#chatbox").appendChild(div);
    scrollToBottom();
  };
    </script>
    <!-- Add the JavaScript code for WebSocket connections and message handling here -->
{% endblock %}
